@model Proje.Models.Entity.TBWriter
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div>

    </div>

    <div style="margin-top:15px">

        <label>Writer Name</label>
        @Html.TextBoxFor(y => y.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.Name)

    </div>

    <div style="margin-top:15px">

        <label>Writer Surname</label>
        @Html.TextBoxFor(y => y.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.Surname)

    </div>
    <div style="margin-top:15px">

        <label>Writer Detail</label>
        @Html.TextAreaFor(y => y.Detail, new { @class = "form-control" })

    </div>
    <div style="margin-top:15px">

        <button class="btn btn-info">Add Writer</button>

    </div>
</form>